@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
  --font: 'Josefin Sans', sans-serif;

  --dark-bg: #1D1D26;
}

.App {
  font-family: var(--font);
  min-height: 100dvh;
  min-width: 375px;
  position: relative;
}

.background-img {
  min-height: 30dvh;
  background-image: url('./assets/images/bg-mobile-dark.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.app-body {
  min-height: 70dvh;
  background-color: var(--dark-bg);
}

@media screen and (min-width: 1440px) {
  .background-img {
    background-image: url('./assets/images/bg-desktop-dark.jpg');
  }
}
